Makefile
bin/libVOCHOG.so
bin/libVOCHOG.so.0
bin/libVOCHOG.so.0.7
bin/libVOCHOG.so.0.7.0
bin/test
examples/test/Makefile
examples/test/main.o
src/Makefile
src/VOCHOG.pro
bin/person_and_bike_006.png
bin/person_and_bike_32_out.png
cell_feats.txt
cell_hists_gpu_res_6_6 (copy).txt
cell_hists_gpu_res_6_6.txt
examples/person_and_bike_006.png
examples/person_and_bike_32_out.png
examples/test/person_and_bike_006.png
examples/test/person_and_bike_32_out.png
person_and_bike_32_out.png
src/HOGUtils.o
src/get_cells.o
src/get_features.o
src/libVOCHOG.so
src/libVOCHOG.so.0
src/libVOCHOG.so.0.7
src/libVOCHOG.so.0.7.0
src/process.o
src/timer.o
src/voc_hog.o

